* {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    line-height: 1.6;
    color: #2e2d33;
    box-sizing: inherit;
}
header {
    position: fixed;
    top: 30px;
    left: 0px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #ef5350;
    padding: 50px;
    justify-content: space-between;
    vertical-align: top;
    box-sizing: inherit;
}

.me{
    width: 350px;
    height: 350px;
    background-image: url("/assets/image0.jpeg");

}

section h2 {
    margin: 0;
    padding: 0;
    font-size: 42px;
    line-height: 1.14;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background:  white;

}

section p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.14;
    font-size: 17px;
    text-align: center;
    margin: 0 0 20px;

}